# Servidor
PORT=

# Base de datos MySQL
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# URL base del repositorio OAI
BASE_URL=https://rais.unmsm.edu.pe/api/oai

# Paginacion
PAGE_SIZE=100

# Admin email del repositorio
ADMIN_EMAIL=rais@unmsm.edu.pe
